# (C) 2026 madoodia.com . All Rights Reserved!

BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
PointerAlignment: Left
BreakBeforeBraces: Custom
AllowShortIfStatementsOnASingleLine: false
ColumnLimit: 0
AccessModifierOffset: -4
SortIncludes: false
EmptyLineBeforeAccessModifier: Always
IndentCaseLabels: true
IndentCaseBlocks: false
AllowShortCaseLabelsOnASingleLine: false
BreakAfterOpenBracketFunction: false
BreakAfterOpenBracketIf: false
BreakAfterOpenBracketLoop: false
BreakAfterOpenBracketSwitch: false
AlignAfterOpenBracket: true
AlignArrayOfStructures: Right
# AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BraceWrapping:
    AfterEnum: true
    AfterStruct: true
    AfterUnion: true
    AfterExternBlock: true
    AfterClass: true
    AfterNamespace: true
    AfterFunction: true
    AfterControlStatement: true
    AfterCaseLabel: false
