# (C) 2026 madoodia.com . All Rights Reserved!

BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
PointerAlignment: Left
BreakBeforeBraces: Custom
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
ColumnLimit: 0
AccessModifierOffset: -4
SortIncludes: false
EmptyLineBeforeAccessModifier: Always
BraceWrapping:
    AfterCaseLabel: false
    AfterEnum: true
    AfterStruct: true
    AfterUnion: true
    AfterExternBlock: true
    AfterClass: true
    AfterNamespace: true
    AfterFunction: true
    BeforeElse: false
    AfterElse: false
    AfterControlStatements: false
    SplitEmptyFunction: false
